<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="42cups">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular app</title>

    <script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static "test.js" %}"></script>


  </head>
  <body ng-controller="testCtrl">
    <h1 ng-repeat="i in test">Hello world!</h1>

  </body>
</html>
